.autor{ 
  display: flex;
  padding: 0 100px;
  @include tablets {
      padding: 0;

  }
}

.autor__photo {
  margin-right: 30px;
  width: 75px;
  height: 75px;
}

.autor__pic {
  border-radius: 50%;
  object-fit: cover;
   object-position: center;
}

.autor__name {
font-size: 18px;
font-weight: 700;
margin-bottom: 15px;
}

.autor__position{
color: rgba(#ffffff, .3);
font-weight: 600;
}