.autor{ 
  display: flex;
}

.autor__photo {
  margin-right: 30px;
}

.autor__name {
font-size: 18px;
font-weight: 700;
margin-bottom: 15px;
}

.autor__position{
color: rgba(#ffffff, .3);
font-weight: 600;
}