.skill__circle_shape {
  fill: transparent;
  
}

.skill__circle_under {
  stroke: #363636;
  stroke-width: 3px;
}

.skill__circle_above {
  stroke-width: 9px;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  animation: fill 100s linear infinite;
  animation-play-state: paused;
}

@keyframes fill {
  from {
    stroke-dashoffset: 251;
  }

  to {
    stroke-dashoffset: 0;
  }
}