.footer {
  background-color: #1b1f22;
  display: flex;
}
.copyrights {
  display: flex;
}
.copyrights__col {
flex: 1;
}
.copyrights__year {
opacity: 0.1;
color: #ffffff;
font-size: 48px;
font-weight: 600;
}

.copyrights__name {
color: #ffffff;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}

.copyrights__text {
opacity: 0.15;
color: #ffffff;
}