.hero {
  background: url(../images/content/Train.jpg) center center / cover no-repeat;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.hero__content {
  display: flex;
  justify-content: center;
}

.hero__text {
  font-size: 18px;
  font-weight: 600;
  color: rgba(#fff, .4);
  width: 50%;
  text-align: right;
  margin-right: 60px;
}
.hero__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 0.91em;
}

