.menu__list {
  display: flex;
  justify-content: space-between;
  @include tablets {
    display: none;
  }
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  transition: color .3s;
  padding: 20px 0;
  border-bottom: 3px solid transparent;


  &:hover {
    color: $orange;
    border-color: $orange;
    transition: .3s;
  }
}

.menu__item {
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
  }
}

