.scroll {
  align-self: center;
  align-items: center;
  display: flex;
  &:hover {
    color: $orange;
    transition: color .3;
    .scroll__icon {
      fill: $orange;
      transition: fill .3;
    }
  }
}
.scroll__text {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.scroll__link {
  width: 20px;
  height: 20px;
}
.scroll__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: fill .3;
}