.user {
  background: url(../images/content/me_bg.png) center center / cover no-repeat;
}

.user__container {
  display: flex;
  width: 60%;
}

.user__col {
  width: 50%;
}

.user__col_centered {
display: flex;
flex-direction: column;
align-items: center;
}

.user__pic {
  width: 200px;
  border-radius: 50%;
}
.user__table {
  width: 75%;
}
.table___cell_left {
  font-weight: 600;
  color: rgba(#fff, .15);
}
.table___cell{
 font-weight: 600; 
}