.reviews__container {
  @include phones {
    width: 100%;
  }
}

.reviews__wrapper {
  @include phones {
    width: 100%;
  }
}

.reviews__data {
  @include phones {
    width: 90%;
    margin: 0 auto;
  }
}