.skill__list {
  display: flex;
  flex-direction: column;
  color: $text-color;
}
.skill__item {
  display: grid;
  grid-template-columns: 1.1fr 1fr 0.3fr;
  grid-template-rows: 1.5fr;
  margin-bottom: 20px;
}

.skill__btn {
  justify-self: center;
}

.skill__input {
  border: 1px solid transparent;
  border-bottom: 1px solid $text-color; 
  outline: none;
}