.works__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.works__link {
  display: block;
  text-decoration: none;
  color: #383bcf;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 45px;
}

.works__wrapper {
  @include phones {
    width: 90%;
    margin: 0 auto;
  }
}