script(type="text/x-template")#slider-container
  .works-slider
    display(
      :works="works",
      :currentWork="currentWork",
      :currentIndex="currentIndex"
      @slide="handleSlide"
      @clickThumb="handleClickThumb"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display
  .works-slider__pics(:data-slide="currentIndex + 1")
    .works-slider__pics-content
      .works-slider__fullpic-container
        img(:src="currentWork.photo" alt="Текущее фото выполненной работы - автор: Екатерина Исмиляева").works-slider__fullpic
        btns(
          @slide="direction => $emit('slide', direction)"
        )
        thumbs(
          :works="works"
          :currentWork="currentWork"
          @clickThumb="index => $emit('clickThumb', index)"
        )

script(type="text/x-template")#slider-btns
  .works-slider__buttons
    button(type="button" @click.prevent="$emit('slide', 'next')").works-slider__btn.works-slider__btn_next
    button(type="button" @click.prevent="$emit('slide', 'prev')").works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-thumbs
  ul.works-slider__thumbs
    li.works-slider__thumb-item(
      v-for="(work, index) in works" :key="index"
      :class="{active: currentWork.id === work.id }"
    )
      a(href="#" @click.prevent="$emit('clickThumb', index)").works-slider__thumb-link
        img(:src="work.photo" alt="Миниатуры выполненных работ - автор: Екатерина Исмиляева").works-slider__thumb

script(type="text/x-template")#slider-info
  .works-slider__data
    tags(
      :tagsArray="tagsArray"
    )
    .works-slider__title {{currentWork.title}}
    .works-slider__desc
      p {{currentWork.desc}}
    .works-slider__link
      +icon('link', 'works-slider__link-icon')
      a(:href="currentWork.link").works__link Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.works-slider__tags
    li.works-slider__tag-item(v-for="tag in tagsArray")
      .tag {{tag}}