section.contact(id="contact")
  .container.contact__container
    h2.contact__title.title Связаться со мной
    form(action="#" id="contactForm")
      .form__row
        .form__col
          .form__group
            label(for='username').form__label Введите ваше имя
            .form__input-container
              input(type='text', id='username', name='name', placeholder="Ковальчук Дмитрий").form__input
              +icon('user', 'form__input-icon')  

        .form__col
          .form__group
            label(for='email').form__label Введите ваш email
            .form__input-container
              input(type='text', id='email', name='email', placeholder="loftschool@study.com").form__input
              +icon('envelope', 'form__input-icon')  
      .form__row
        .form__col
          .form__group.form__group_text
            label(for='comment').form__label Сообщение к письму
            .form__input-container
              textarea(type='text', id='comment', name='comment', placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").form__input.form__input_text
              +icon('message', 'form__input-icon')  
      .form__row.form__row_center-768
        button(type="submit" id="formButton").button Отправить