section.contact(id="contact")
  .container.contact__container
    h2.contact__title.title Связаться со мной
    form(action="" novalidate).contactForm
      .form__row
        .form__col
          .form__group
            label.form__label Введите ваше имя
            .form__input-container
              input(type="text" name="name" placeholder="Ковальчук Дмитрий" novalidate).form__input
              +icon('user', 'form__input-icon')  

        .form__col
          .form__group
            label.form__label Введите ваш email
            .form__input-container
              input(type="email" name="email" placeholder="loftschool@study.com" novalidate).form__input
              +icon('envelope', 'form__input-icon')  
      .form__row
        .form__col
          .form__group.form__group_text
            label.form__label Сообщение к письму
            .form__input-container
              textarea(name="message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" novalidate).form__input.form__input_text
              +icon('message', 'form__input-icon')  
      .form__row.form__row_center-768
        button(type="submit" id="formButton").button Отправить