+image('content/leaf1.png', 'feedback__pic_one', 'Падающие листья', 'presentation')
+image('content/leaf2.png', 'feedback__pic_two', 'Падающие листья', 'presentation')
+image('content/leaf3.png', 'feedback__pic_three', 'Падающие листья', 'presentation')
+image('content/leaf4.png', 'feedback__pic_four', 'Падающие листья', 'presentation')