.parallax
  .parallax__layer(data-speed='0.01')
    +image('content/1.png', 'parallax__image', 'photo', 'presentation')
  .parallax__layer(data-speed='0.02')
    +image('content/2.png', 'parallax__image', 'photo', 'presentation')
  .parallax__layer(data-speed='0.03')
    +image('content/3.png', 'parallax__image', 'photo', 'presentation')
  .parallax__layer(data-speed='0.05')
    +image('content/4.png', 'parallax__image', 'photo', 'presentation')
  //- .parallax__layer(data-speed='0.08')
  //- .parallax__layer(data-speed='0.08')
  //- .parallax__layer(data-speed='0.1')