.parallax
  .parallax__layer(data-speed='0.01')
    +image('content/sky.png', 'parallax__image parallax__image_clouds', 'Задний план главного фонового изображения - Облака', 'presentation')
  .parallax__layer(data-speed='0.02')
    +image('content/mountain.png', 'parallax__image parallax__image_mountains', 'Задний план главного фонового изображения - Горы', 'presentation')
  .parallax__layer(data-speed='0.03')
    +image('content/bridg.png', 'parallax__image parallax__image_train', 'Передний план главного фонового изображения - Железная дорога', 'presentation')
  .parallax__layer(data-speed='0.05')
    +image('content/gras.png', 'parallax__image parallax__image_grass', 'Передний план главного фонового изображения - Трава', 'presentation')