section.user(id="user")
  .container.user__container
      +image('content/me.jpeg', 'user__pic', 'Мой аватар')
      table.user__table
        tr.user__table-row
          td.user__table-cell_left Проживаю:
          td.user__table-cell Балашиха
        tr.user__table-row
          td.user__table-cell_left Возраст:
          td.user__table-cell 25 лет
        tr.user__table-row
          td.user__table-cell_left Родилась:
          td.user__table-cell 20 октября 1993
      .user__content
        .user__text Привет, меня зовут 
        h2.user__title.title Екатерина Исмиляева
        p.user__text-desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .user__site Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!