section.values(id="values")
  +image('content/hands.png', 'values__pic', 'Фоновое изображение, человек печатает на клавиатуре', 'presentation')
  .container.values__container
    .values__wrapper
      .values__title
        .values__title-container
          .values__title-text Чем я могу быть полезен вам
          .values__content
            p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .values__widget
        #skills-component