include ./mixins.pug

<!DOCTYPE html>
html(lang="en").gr__localhost
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-scrollto")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.hero
          include ./sections/parallax
          .container.hero__container(id="hero")
            .hero__content
              header.header
                include ./sections/logo
                .header__controls
                  +menu('header', 'header')
                  button(type="button").header__close
                  +social('header')
                include ./sections/hamburger-menu
              include ./sections/hero
              include ./sections/scroll

        include ./sections/user

        include ./sections/values
          
        include ./sections/works
        
        .feedback
          include ./sections/feedback
          include ./sections/reviews
                  
          include ./sections/contact

        footer.footer
          .container.footer__container
            include ./sections/copyrights
            .footer__content
              +menu('footer', 'footer')
              .footer__content-desc
                .footer__col
                  .footer__content-text Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                  +social('footer')
                .footer__col.footer__col_padding
                  include ./sections/quote

        include ./templates/entry.pug
